Fluxor/*.fpk filter=lfs diff=lfs merge=lfs -text
PeerBanHelper/*.fpk filter=lfs diff=lfs merge=lfs -text
qBittorrent-Enhanced/qBittorrent-Enhanced.fpk filter=lfs diff=lfs merge=lfs -text
uptime-kuma/uptime-kuma.fpk filter=lfs diff=lfs merge=lfs -text
Komga/Komga.fpk filter=lfs diff=lfs merge=lfs -text
Golang/Golang.fpk filter=lfs diff=lfs merge=lfs -text
Reader/Reader.fpk filter=lfs diff=lfs merge=lfs -text
java-8-openj9/java-8-openj9.fpk filter=lfs diff=lfs merge=lfs -text
java-17-openj9/java-17-openj9.fpk filter=lfs diff=lfs merge=lfs -text
